[submodule "SourceIPC"]
	path = SourceIPC
	url = https://github.com/compact-colonist/SourceIPC.git
[submodule "source-sdk-2013"]
	path = source-sdk-2013
	url = https://github.com/compact-colonist/source-sdk-2013.git
